<form action="/cart" method="post">
    <button class="btn" type="submit">Añadir a la cesta</button>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>