<footer>
  <div class="Logo_Container">
    <img src="/images/logo-maderito.png" />
  </div>

  <div class="Footer_Navigation">
    <nav class="navigation">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/admin/add-product">Reservar</a></li>
        <li><a href="/admin/products">Mis citas</a></li>
      </ul>
    </nav>
  </div>

  <div class="Contact_Info">
    <h3>Contactenos</h3>
    <ul>
      <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
      <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
      <li><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
    </ul>
  </div>
  <div class="Localization_Container">
    <h3>Ubicación del local</h3>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d985.4596835596774!2d-82.53484457086775!3d9.391369599579386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa614912855987f%3A0x4bde3419b2eadbfd!2sEbanisteria%20Hermanos%20Castro!5e0!3m2!1sen!2spa!4v1572986568053!5m2!1sen!2spa"
      width="450" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
</footer>