<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/estilo.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <section id="cuadriculas">
    <div class="container">
      <div class="caja">
        <img src="images/cirilo.png" alt="Foto-cirilo">
        <h3>Dueño de la empresa</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut nulla et nisi mattis scelerisque a non
          leo. Donec aliquam arcu eget elit aliquam vehicula. Vestibulum vel arcu eu purus molestie lobortis.</p>
      </div>

      <div class="caja">
        <img src="images/ebanisteria.png" alt="ebanisteria">
        <h3>A que nos dedicamos</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut nulla et nisi mattis scelerisque a non
          leo. Donec aliquam arcu eget elit aliquam vehicula. Vestibulum vel arcu eu purus molestie lobortis.</p>
      </div>

      <div class="caja">
        <img src="images/politica.png" alt="trabajo-seguro">
        <h3>Como trabajamos</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut nulla et nisi mattis scelerisque a non
          leo. Donec aliquam arcu eget elit aliquam vehicula. Vestibulum vel arcu eu purus molestie lobortis.</p>
      </div>

    </div>
  </section>

  <%- include('../includes/footer.ejs') %>

  <%- include('../includes/end.ejs') %>